/* ============================================= */
/*              Buttons                          */
/* ============================================= */

.btn {
    margin-top: 15px;
    width: 100%;
    color: $white;
    border: none;
    padding: 10px 0;
    text-transform: uppercase;
    border-radius: 5px;
    transition-duration: 1s;
    transition-property: background-color;
    &:hover {
      background-color: lighten($white, 15%);
    }
  }
  
  .default {
    background-color: $blue;
  }
  
  .error {
    background-color: $orange;
  }
  
  .info {
    background-color: $purple;
  }
  
  .success {
    background-color: $lightgreen;
  }
  
  .warning {
    background-color: $orange;
  }